<?xml version="1.0"?>
<!DOCTYPE module PUBLIC "-//Puppy Crawl//DTD Check Configuration 1.2//EN"
"http://www.puppycrawl.com/dtds/configuration_1_2.dtd">
<module name="Checker">
  <module name="RegexpHeader">
    <property name="header" value="^/{68}$\n^/{2}[ ]{1}Andrea Volpe 2021904$\n^/{2}[ ]{1}Riccardo Contin 1225416$\n^/{68}$"/>
  </module>
  <module name="FileLength" />
  <module name="LineLength" />
  <module name="FileTabCharacter" />
  <module name="TreeWalker">
    <module name="BooleanExpressionComplexity" />
    <module name="CyclomaticComplexity" />
    <module name="MethodLength" />
    <module name="EmptyCatchBlock" />
    <module name="AvoidStarImport" />
    <module name="IllegalImport" />
    <module name="NeedBraces" />
  </module>
</module>